.home {
  .panel {
    margin: auto;
    min-height: 400px;
    .filters {
      background: #f1f1f1;
      box-shadow: 3px 0px 7px -2px #ccc;
      .segment, .product {
        ul {
          list-style: none;
          li {
            border-left: 3px solid aqua;
            margin: 7px 0;
            padding-left: 8px;
          }
        }
      }
    }
  }
}