.home(ng-controller="HomeController as home")
  .container.panel
    .filters.col-md-4
      .segment.col-md-12.margin-top10
        .col-md-12
          .col-md-10.title-2 SEGMENTO
          .col-md-2 T
        ul.col-md-12
          li Select
          li Preferente
          li Clasico
      hr
      .product.col-md-12
        .col-md-12
          .col-md-10.title-2 PRODUCTO
          .col-md-2 T
        ul.col-md-12
          li.col-md-6 N贸mina
          li.col-md-6 Credito
          li.col-md-6 Seguro
          li.col-md-6 Paquetes
          li.col-md-6 Captaci贸n
          li.col-md-6 Lealtad
          li.col-md-6 Dimocilaci贸n
          li.col-md-6 Paquetes
          li.col-md-6 Afiliaci贸n de canales
    .graph.col-md-8
      .segment
      .productS